@charset "UTF-8";

@font-face {
  font-family: "untitled-font-3";
  src:url("fonts/untitled-font-3.eot");
  src:url("fonts/untitled-font-3.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-3.woff") format("woff"),
    url("fonts/untitled-font-3.ttf") format("truetype"),
    url("fonts/untitled-font-3.svg#untitled-font-3") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-3" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-3" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-access-emr:before {
  content: "\61";
}
.icon-account-report:before {
  content: "\63";
}
.icon-action:before {
  content: "\65";
}
.icon-active:before {
  content: "\66";
}
.icon-ad-module:before {
  content: "\67";
}
.icon-app-settings:before {
  content: "\68";
}
.icon-appointment:before {
  content: "\69";
}
.icon-approvelabresult:before {
  content: "\6a";
}
.icon-archived-details:before {
  content: "\6b";
}
.icon-ask-doctor:before {
  content: "\6c";
}
.icon-assistant:before {
  content: "\6d";
}
.icon-basic-setting:before {
  content: "\6e";
}
.icon-bill-cancel-report:before {
  content: "\6f";
}
.icon-bill-category:before {
  content: "\70";
}
.icon-bill-reports:before {
  content: "\71";
}
.icon-billing:before {
  content: "\72";
}
.icon-billing-edit-report:before {
  content: "\73";
}
.icon-bookings:before {
  content: "\74";
}
.icon-cancel-bill:before {
  content: "\75";
}
.icon-cancelled-appointmemt-report:before {
  content: "\76";
}
.icon-card:before {
  content: "\77";
}
.icon-card-package-purchase:before {
  content: "\78";
}
.icon-card-package-setting:before {
  content: "\79";
}
.icon-cash-close:before {
  content: "\7a";
}
.icon-cash-close-report:before {
  content: "\41";
}
.icon-cash-points:before {
  content: "\42";
}
.icon-categories:before {
  content: "\43";
}
.icon-collect-sample:before {
  content: "\44";
}
.icon-collected-specimen:before {
  content: "\45";
}
.icon-connect-doctor:before {
  content: "\46";
}
.icon-connect-hospital:before {
  content: "\47";
}
.icon-connect-lab:before {
  content: "\48";
}
.icon-connect-phamacy:before {
  content: "\49";
}
.icon-connect-ris:before {
  content: "\4a";
}
.icon-connected-clients:before {
  content: "\4b";
}
.icon-consumables-map:before {
  content: "\4c";
}
.icon-consumables-purchase:before {
  content: "\4d";
}
.icon-consumables-report:before {
  content: "\4e";
}
.icon-coupon-icon:before {
  content: "\4f";
}
.icon-daily-report:before {
  content: "\50";
}
.icon-daily-visit-report:before {
  content: "\51";
}
.icon-day-close:before {
  content: "\52";
}
.icon-day-close-report:before {
  content: "\53";
}
.icon-desk:before {
  content: "\54";
}
.icon-disease-list:before {
  content: "\55";
}
.icon-dispense:before {
  content: "\56";
}
.icon-dispensed-report:before {
  content: "\57";
}
.icon-doctor-at-home:before {
  content: "\58";
}
.icon-doctor-profile:before {
  content: "\59";
}
.icon-doctor-timing:before {
  content: "\5a";
}
.icon-download-report:before {
  content: "\30";
}
.icon-drug-allergy:before {
  content: "\31";
}
.icon-drug-at-home:before {
  content: "\32";
}
.icon-drug-tax:before {
  content: "\33";
}
.icon-drugdosage-unit:before {
  content: "\34";
}
.icon-drugs:before {
  content: "\35";
}
.icon-drugstockreport:before {
  content: "\36";
}
.icon-edited-quantity:before {
  content: "\37";
}
.icon-emergency-details:before {
  content: "\38";
}
.icon-floors:before {
  content: "\39";
}
.icon-get-hodocard:before {
  content: "\21";
}
.icon-health-record:before {
  content: "\22";
}
.icon-feedback-help:before {
  content: "\23";
}
.icon-home-care-booking:before {
  content: "\24";
}
.icon-home-care-patient-view:before {
  content: "\25";
}
.icon-home-care-service-booking-report:before {
  content: "\26";
}
.icon-home-care-settings:before {
  content: "\27";
}
.icon-home-page:before {
  content: "\28";
}
.icon-hospital:before {
  content: "\29";
}
.icon-investigation-at-home:before {
  content: "\2a";
}
.icon-invoice-generate:before {
  content: "\2b";
}
.icon-invoice-list:before {
  content: "\2c";
}
.icon-ip-admission:before {
  content: "\2d";
}
.icon-ip-admission-patients:before {
  content: "\2e";
}
.icon-lab-technician:before {
  content: "\2f";
}
.icon-lab:before {
  content: "\3a";
}
.icon-lab-technician-sign:before {
  content: "\3b";
}
.icon-lab-tests:before {
  content: "\3c";
}
.icon-labcategory-report:before {
  content: "\3d";
}
.icon-labpastresults:before {
  content: "\3e";
}
.icon-labresult-unit:before {
  content: "\3f";
}
.icon-ledger:before {
  content: "\40";
}
.icon-ledger-jounral:before {
  content: "\5b";
}
.icon-ledger-payment:before {
  content: "\5d";
}
.icon-ledger-receipt:before {
  content: "\5e";
}
.icon-ledger-report:before {
  content: "\5f";
}
.icon-link:before {
  content: "\60";
}
.icon-manufacturer:before {
  content: "\7b";
}
.icon-marketing-clients:before {
  content: "\7c";
}
.icon-marketing-invite:before {
  content: "\7d";
}
.icon-menu-builder:before {
  content: "\7e";
}
.icon-my-doctors:before {
  content: "\5c";
}
.icon-my-hospitals:before {
  content: "\e000";
}
.icon-my-patients:before {
  content: "\e001";
}
.icon-new-lookup:before {
  content: "\e002";
}
.icon-new-package:before {
  content: "\e003";
}
.icon-new-patient:before {
  content: "\e004";
}
.icon-new-tile:before {
  content: "\e005";
}
.icon-nondrug-allergy:before {
  content: "\e006";
}
.icon-notification:before {
  content: "\e007";
}
.icon-onlinesignup-report:before {
  content: "\e008";
}
.icon-overall-ledger:before {
  content: "\e009";
}
.icon-package-details:before {
  content: "\e00a";
}
.icon-page-control:before {
  content: "\e00b";
}
.icon-pages:before {
  content: "\e00c";
}
.icon-pastbookings:before {
  content: "\e00d";
}
.icon-patient-registration-report:before {
  content: "\e00e";
}
.icon-patient-search:before {
  content: "\e00f";
}
.icon-patient-summary:before {
  content: "\e010";
}
.icon-payables:before {
  content: "\e011";
}
.icon-pending:before {
  content: "\e012";
}
.icon-pending-suppliers:before {
  content: "\e013";
}
.icon-phamacy-bill:before {
  content: "\e014";
}
.icon-pharmacy-income:before {
  content: "\e015";
}
.icon-procedure:before {
  content: "\e016";
}
.icon-procedure-consumables:before {
  content: "\e017";
}
.icon-procedure-template:before {
  content: "\e018";
}
.icon-profile:before {
  content: "\e019";
}
.icon-promotions:before {
  content: "\e01a";
}
.icon-purchase:before {
  content: "\e01b";
}
.icon-qr-scan:before {
  content: "\e01c";
}
.icon-radiologies:before {
  content: "\e01d";
}
.icon-radiology:before {
  content: "\e01e";
}
.icon-radiologypastreport:before {
  content: "\e01f";
}
.icon-recharge:before {
  content: "\e020";
}
.icon-referenced-doctors:before {
  content: "\e021";
}
.icon-reg-patient:before {
  content: "\e022";
}
.icon-refund-bills:before {
  content: "\e023";
}
.icon-registration-fee:before {
  content: "\e024";
}
.icon-reports:before {
  content: "\e025";
}
.icon-rooms:before {
  content: "\e026";
}
.icon-select-themes:before {
  content: "\e027";
}
.icon-service-at-home:before {
  content: "\e028";
}
.icon-service-charge:before {
  content: "\e029";
}
.icon-service-map:before {
  content: "\e02a";
}
.icon-services:before {
  content: "\e02b";
}
.icon-settings:before {
  content: "\e02c";
}
.icon-signup:before {
  content: "\e02d";
}
.icon-specialities:before {
  content: "\e02e";
}
.icon-specimen-collect:before {
  content: "\e02f";
}
.icon-staff:before {
  content: "\e030";
}
.icon-staff-report:before {
  content: "\e031";
}
.icon-start:before {
  content: "\e032";
}
.icon-submit:before {
  content: "\e033";
}
.icon-supplier:before {
  content: "\e034";
}
.icon-symptoms-list:before {
  content: "\e035";
}
.icon-todaysbookingdetails:before {
  content: "\e036";
}
.icon-tv-output:before {
  content: "\e037";
}
.icon-user-access:before {
  content: "\e038";
}
.icon-user-verification:before {
  content: "\e039";
}
.icon-withdraw-cash-point:before {
  content: "\e03a";
}
.icon-withdraws:before {
  content: "\e03b";
}
